.product-page {
  &__wrapper {
    display: flex;
    gap:   clamp(1rem, 0.5985rem + 1.6471vw, 1.875rem);
    padding: 1rem;
    padding-bottom: 130px;  
    // CHANGE!!
  }
  &__img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content) ;
    max-width: 610px;
   justify-items: center;
    align-items: center;
    gap: clamp(0.75rem, 0.6926rem + 0.2353vw, 0.875rem);
  }
  &__main-img {
    grid-column:2 ;
    grid-row: 1 / span 3;
    width:  clamp(22.375rem, 19.9088rem + 10.1176vw, 27.75rem);
   
    height:  clamp(18.125rem, 11.2426rem + 28.2353vw, 33.125rem);
    border-radius: var(--br-cart);
     object-fit: cover;
  }
  &__imgs{
     width: clamp(6.9375rem, 5.7618rem + 4.8235vw, 9.5rem);
    height: clamp(6.625rem, 4.8471rem + 7.2941vw, 10.5rem);
    border-radius: var( --br-cart);
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
    // gap: 15px;
  }
  &__h1 {
    font-size: clamp(1.5rem, 1.0412rem + 1.8824vw, 2.5rem);
    font-family: var(--font-primary);
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -9%;
    margin: 0;
  }
  &__description {
    color: var(--color-text-secondary);
    font-size: clamp(0.875rem, 0.8176rem + 0.2353vw, 1rem);
  }
  &__hr {
    border-top: 1px solid var(--color-highlight);
    width: 100%;
    margin: 24px 0;
  }
  &__size-selection {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  &__sizes {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  &__size-input {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  &__size-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  clamp(5.625rem, 5.2235rem + 1.6471vw, 6.5rem);
    height: clamp(2.4375rem, 2.2368rem + 0.8235vw, 2.875rem);
    color: var(--color-secondary);
    background-color: var(--color-bg-secondary);
    border-radius: var(--br-button-input);
    &--chosen {
      background-color: var(--color-primary);
      color: var(--color-fourth);
    }
  }
  &__colors-wrapper {
    display: flex;
    gap: 16px;
  }
  &__color-selection {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  &__colors-input {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
  &__colors-label {
    display: block;

    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
  &__add-product {
    display: flex;
    gap: 20px;
  }
  &__count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--br-button-input);
  
    width:  clamp(6.875rem, 5.1544rem + 7.0588vw, 10.625rem);
      min-width: 110px;
    height: clamp(2.75rem, 2.5206rem + 0.9412vw, 3.25rem);
    background-color: var(--color-bg-secondary);
  }
  &__count-button {
    cursor: pointer;
    border: none;
    background-color: none;
    font-size: 2rem;
  }
  &__button {
    width: 100%;
    border-radius: var(--br-button-input);
    border: none;
    background-color: var(--color-primary);
    color: var(--color-fourth);
    cursor: pointer;
  }
  // MEDIA

  @media (max-width: 820px) {
    &__wrapper {
      flex-direction: column;
  
      align-items: center;
    }
    &__img-wrapper{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,auto);
      align-items: center;
    }
    &__main-img{
      grid-row: 1;
      grid-column: 1/span 3;
       object-fit: cover;
    } 
    &__info{
      padding: 0 1rem;
    }
  }
}
