.reviews-card{

    &__card-wrapper{
        width: clamp(22.375rem, 21.1706rem + 4.9412vw, 25rem);
        height: clamp(11.625rem, 10.0765rem + 6.3529vw, 15rem);
        border-radius: var( --br-cart);
        border: 1px solid var(  --color-highlight);
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: clamp(0.75rem, 0.664rem + 0.3529vw, 0.9375rem);

        padding:clamp(1.5rem, 1.3853rem + 0.4706vw, 1.75rem)   clamp(1.5rem, 1.2706rem + 0.9412vw, 2rem) ;
    }
    &__author{
        font-size: clamp(1rem, 0.8853rem + 0.4706vw, 1.25rem);
        font-weight: 600;
    }
}