.header {
  z-index: 100;
  &__nav {
    height: 6rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
  }
  &__img-logo {
    width: 126px;
  }
  &__img-logo:hover {
    cursor: pointer;
  }
  &__left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--fs-xxxs);
    // flex-grow: 1;
  }
  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
