.header{

&__nav{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: space-between; 
  padding: 1.4375rem 1rem;; 
}
&__img-logo{
    width: 126px;
}
&__img-logo:hover{
  cursor: pointer;
}
&__left{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
&__menu{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
&__icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
}