.header {
  z-index: 100;
  &__nav {
    height: 6rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
  }
  &__img-logo {
    width: 126px;
  }
  &__img-logo:hover {
    cursor: pointer;
  }
  &__left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--fs-xxxs);
    // flex-grow: 1;
  }
  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    
  }
  &__cart-wrapper{
    position: relative;

  }
  &__cart-badge{
    display: flex;
    justify-content: center;
    align-items: center;
position: absolute;
top: 16px;
right: 10px;
color: var(--color-highlight3);
font-weight: 600;
width: 1.3rem;
height: 1.3rem;
background-color: var(--color-bg-secondary);
border-radius: var(--br-button-input);
font-size: var(--fs-xxxs);

  }
}
