:root {
  /* TEXT */
  --color-text-primary: rgba(0, 0, 0, 1);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-thirdly: rgba(0, 0, 0, 0.4);
  --color-text-highlight: rgba(255, 255, 255, 1);
  --color-text-discount: rgba(255, 51, 51, 1);
  /* BG */
  --color-bg-secondary: rgba(240, 240, 240, 1);
  --color-bg-third: rgba(242, 240, 241, 1);
  --color-bg-discount: rgba(255, 51, 51, 0.1);
  /* HIGHLIGHT */
  --color-highlight: rgba(0, 0, 0, 0.1);
  /* FONTS */
  --font-primary: "IntegralCF", san-serif;
  --font-secondary: "Satoshi", san-serif;
  /* FONTS Sizes */
  --fs-hero: 4rem;
  --fs-xxl: 3rem;
  --fs-xl: 2.5rem;
  --fs-l: 2.25rem;
  --fs-m: 2rem;
  --fs-s: 1.5rem;
  --fs-xs: 1.25rem;
  --fs-base: 1rem;
  --fs-xxs: 0.875rem;
  --fs-xxxs: 0.75rem;
}
