.cart-page {
  &__main-wrapper {
    padding: 0 1rem;
  }
  &__title{
font-size: clamp(2rem, 1.7706rem + 0.9412vw, 2.5rem);
font-weight: 900;
margin-top: clamp(0.5rem, 0.0412rem + 1.8824vw, 1.5rem);
margin-bottom: clamp(1.25rem, 1.1353rem + 0.4706vw, 1.5rem);

  }
  &__product-wrapper {
    // width: 715px;
    padding: clamp(0.875rem, 0.7029rem + 0.7059vw, 1.25rem);
    
    display: flex;
    justify-content: space-between;
  }
  &__img {
    width: clamp(6.1875rem, 5.4706rem + 2.9412vw, 7.75rem);
  height: clamp(6.1875rem, 5.4706rem + 2.9412vw, 7.75rem);
    border-radius: var(--br-cart-page);
    
  }
  &__product-info {
    display: flex;
    gap: 16px;
  }
  &__product-title {
    margin: 0;
    font-size:  clamp(1rem, 0.8853rem + 0.4706vw, 1.25rem);
  
  }
  &__product-description{
    font-size:  clamp(0.75rem, 0.6926rem + 0.2353vw, 0.875rem);
  }
  &__price--padding{
    display: inline-block;
    padding-top: clamp(0.625rem, 0.5103rem + 0.4706vw, 0.875rem);
  }

  &__order-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 170px;
  }
  &__products {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-highlight);
    border-radius: var(--br-cart);
    max-width: 715px;
    width: 100%;
  }
&__products--none{
 padding: 1rem;
 text-align: center;
 font-size: clamp(1.25rem, 0.6765rem + 2.3529vw, 2.5rem);
 color: var(  --color-secondary);

}
  &__product-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-third);
    width: clamp(6.5625rem, 5.9603rem + 2.4706vw, 7.875rem);
    height:clamp(1.9375rem, 1.5647rem + 1.5294vw, 2.75rem);
    border-radius: var(--br-button-input);
  }
  &__count-button {
    border: none;
    background-color: transparent;
  }
  &__delete-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: clamp(0.9375rem, 0.8515rem + 0.3529vw, 1.125rem);
    height: auto;
  }

  &__info-wrapper {
    border: 1px solid var(--color-highlight);
    border-radius: var(--br-cart);
    max-width: 505px;
    width: 100%;
    padding: 20px 24px;
    height: 100%;
  }
  &__info-title {
    margin: 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  &__info-price {
    display: flex;
    justify-content: space-between;
  }
  &__total-price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
  }
  &__info-price-title {
    color: var(--color-secondary);
  }
  &__price {
    font-weight: 600;
  }
  &__info-price--discount {
    color: var(--color-highlight3);
    font-weight: 600;
  }
  &__applycation {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
  }
  &__input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding-left: 1rem;
    background-color: var(--color-bg-secondary);
    border-radius: var(--br-button-input);
    max-width: var(--bs-xxl);
    width: 100%;
    height: var(--bs-h-m);
  }
  &__input {
    background-color: transparent;
    border: none;
    width: 100%;
  }
  &__application-button {
    width: var(--bs-w-m);
    height: var(--bs-h-m);
    background-color: var(--color-primary);
    border-radius: var(--br-button-input);
    border: none;
    color: var(--color-fourth);
    cursor: pointer;
  }
  &__checkout-button {
    width: 100%;
    border-radius: var(--br-button-input);
    border: none;
    margin-top: 24px;
    cursor: pointer;
    background-color: var(--color-primary);
    height: var(--bs-h-m);
    color: var(--color-fourth);
  }

  // MEDIA
  @media(max-width: 540px){
&__order-wrapper{
  flex-direction: column;
}

  }
}
