.cart-page {
  &__main-wrapper {
    padding: 0 1rem;
  }
  &__product-wrapper {
    // width: 715px;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    max-width: 124px;
    border-radius: var(--br-cart-page);
  }
  &__product-info {
    display: flex;
    gap: 16px;
  }
  &__product-title {
    margin: 0;
  }

  &__order-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 170px;
  }
  &__products {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-highlight);
    border-radius: var(--br-cart);
    max-width: 715px;
    width: 100%;
  }

  &__product-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-third);
    width: var(--bs-w-m);
    height: var(--bs-h-s);
    border-radius: var(--br-button-input);
  }
  &__count-button {
    border: none;
    background-color: transparent;
  }
  &__delete-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__info-wrapper {
    border: 1px solid var(--color-highlight);
    border-radius: var(--br-cart);
    width: 505px;
    padding: 20px 24px;
    height: 100%;
  }
  &__info-title {
    margin: 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  &__info-price {
    display: flex;
    justify-content: space-between;
  }
  &__total-price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
  }
  &__info-price-title {
    color: var(--color-secondary);
  }
  &__price {
    font-weight: 600;
  }
  &__info-price--discount {
    color: var(--color-highlight3);
    font-weight: 600;
  }
  &__applycation {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
  }
  &__input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding-left: 1rem;
    background-color: var(--color-bg-secondary);
    border-radius: var(--br-button-input);
    max-width: var(--bs-xxl);
    width: 100%;
    height: var(--bs-h-m);
  }
  &__input {
    background-color: transparent;
    border: none;
    width: 100%;
  }
  &__application-button {
    width: var(--bs-w-m);
    height: var(--bs-h-m);
    background-color: var(--color-primary);
    border-radius: var(--br-button-input);
    border: none;
    color: var(--color-fourth);
    cursor: pointer;
  }
  &__checkout-button {
    width: 100%;
    border-radius: var(--br-button-input);
    border: none;
    margin-top: 24px;
    cursor: pointer;
    background-color: var(--color-primary);
    height: var(--bs-h-m);
    color: var(--color-fourth);
  }
}
