.navigation {

  &__list {
    display: flex;
    flex-direction: row;
    gap: var(--fs-s);
    position: relative;
  }
&__item:hover{
color: var(--color-text-secondary);
}
&__item{
  cursor: pointer;
}
  &__subMenu {
    position: absolute;
    z-index: 100;
    top: 3rem;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: var(--color-fourth);
  }
  &__subItem {
    padding-bottom: var(--fs-xxs);
    font-size: var(--fs-s);
  }
  &__subItem:hover {
    text-decoration: underline 1.3px;
  }
  &__img{
    color: var(  --color-primary);
    width: 12px;
    margin-left: 0.5rem;
    
  }
  &__img:hover{
    color: var(--color-secondary);
  }
  // Media queries Navigation
  @media (max-width: 768px) {
    display: none;
  }
}
