.navigation{
 &__list-wrapper {
  
  }

    &__list{
   display: flex;
    flex-direction: row;
    gap: var(--fs-s);
      position: relative;
    }
   
    &__subMenu{
      position: absolute;
      top: 2rem;
    }
    
    // Media queries Navigation
  @media (max-width: 768px) {
    display: none;
  }
}