.hero {
  &__wrapper {
    width: 100%;
    background-color: var(--color-bg-third);
    overflow-x: hidden;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  &__left {
    max-width: 36rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.5412rem + 1.8824vw, 2rem);
  }
  &__h1 {
    font-family: var(--font-primary);
    font-weight: 900;
    letter-spacing: -9%;
    font-size: clamp(2.25rem, 1.4rem + 2.3vw, 4rem);
    line-height: 100%;
    margin: 0;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--bs-xl);
    height: var(--bs-h-l);
    border-radius: var(--br-button-input);
    background-color: var(--bc-primary);
    border: none;
    color: var(--color-text-highlight);
    cursor: pointer;
    padding: 0;
   
  }
  &__bottom {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  &__info-wrapper{
    border-right:1px solid var( --color-highlight) ;
  }
  &__span {
    font-size: var(--fs-s);
    font-family: var(--font-secondary);
    font-weight: bold;

  }
  &__bottom-title {
    font-size: var(--fs-base);
    color: var(  --color-text-secondary);
  }
  &__right {
    // display: flex;
    align-self: flex-end;
  }
  &__img {
    display: block;
    width: auto;
  }
  // MEDIA
  
  @media (max-width: 1100px) {
    &__h1 {
      margin-top: 2.5rem;
      // font-size: 2.5rem;
    }
    &__button {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    &__wrap {
      flex-direction: column;
    }
    &__right {
      align-self: center;
    }
  }

  @media (max-width: 390px) {
    &__title {
      font-size: var(--fs-xxs);
      line-height: 1.2rem;
    }

    &__img {
      width: 450px;
    }
    &__bottom {
      flex-wrap: wrap;
      margin-top: 1.25rem;
    }
  }
}
